<h2 [routerLink]="['/events']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">All Events</h2>
<h2 [routerLink]="['/events/new']" routerLinkActive="link-active">Create New Event</h2>
<!-- <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a> -->
<!-- <h2 *ngIf="auth.isAuthenticated()"><a  [routerLink]="['user/profile']">Hello, {{auth.currentUser.firstname}}</a></h2> -->
<a [routerLink]="['user/login']">Login</a>
<h2><a  [routerLink]="['user/profile']">Hello, John</a></h2>
<router-outlet></router-outlet>